/* HyprMono — Waybar Style */
@import "theme.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: @main-bg;
    color: @main-fg;
    border-bottom: 2px solid @border-color;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @main-fg;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @main-fg;
}

#tray {
    padding-right: 15px;
}
