window#waybar {
    background: #0d0d0d;
    color: #e5e5e5;

    border: none;
}

* {
    font-family: JetBrains Mono;
    font-size: 13px;
}

#workspaces button {
    color: #888888;
    padding: 0 8px;
}

#workspaces button.active {
    color: #ffffff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
    margin: 0 6px;
}